<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSApplicationName</key>
	<string>LoginSample</string>
	<key>CSApplicationKey</key>
	<string></string>
	<key>CSAutoLoginEnabled</key>
	<false/>
	<key>CSContactPermissionPrompt</key>
	<string>CSContactPermissionAutomatic</string>
	<key>CSNativeContactsEnabled</key>
	<false/>
	<key>CSProductionEnvironment</key>
	<true/>
	<key>CSCloudConfiguration</key>
	<dict>
		<key>CSCloudAddress</key>
		<string></string>
		<key>CSCloudPort</key>
		<string></string>
	</dict>
</dict>
</plist>
